<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glide.Xamarin" version="3.7.0" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Bindings.CircleImageView" version="2.1.0" targetFramework="monoandroid60" />
</packages>